USE [master]
GO
/****** Object:  Database [ZealthyDB]    Script Date: 4/9/2025 12:03:36 PM ******/
CREATE DATABASE [ZealthyDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ZealthyDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ZealthyDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ZealthyDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ZealthyDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ZealthyDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ZealthyDB]
GO
/****** Object:  User [zealthyuser]    Script Date: 4/9/2025 12:03:36 PM ******/
CREATE USER [zealthyuser] FOR LOGIN [zealthyuser] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [zealthy]    Script Date: 4/9/2025 12:03:36 PM ******/
CREATE USER [zealthy] FOR LOGIN [zealthy] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [zealthyuser]
GO
ALTER ROLE [db_owner] ADD MEMBER [zealthy]
GO
/****** Object:  Table [dbo].[AdminConfig]    Script Date: 4/9/2025 12:03:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminConfig](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ComponentName] [nvarchar](100) NULL,
	[PageNumber] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/9/2025 12:03:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[AboutMe] [nvarchar](max) NULL,
	[StreetAddress] [nvarchar](255) NULL,
	[City] [nvarchar](100) NULL,
	[State] [nvarchar](100) NULL,
	[Zip] [nvarchar](20) NULL,
	[Birthdate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AdminConfig] ON 

INSERT [dbo].[AdminConfig] ([Id], [ComponentName], [PageNumber]) VALUES (7, N'about_me', 2)
INSERT [dbo].[AdminConfig] ([Id], [ComponentName], [PageNumber]) VALUES (8, N'birthdate', 2)
INSERT [dbo].[AdminConfig] ([Id], [ComponentName], [PageNumber]) VALUES (9, N'address', 3)
SET IDENTITY_INSERT [dbo].[AdminConfig] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Email], [Password], [AboutMe], [StreetAddress], [City], [State], [Zip], [Birthdate]) VALUES (1, N'krinapatel185@gmail.com', N'krina123', N'I am a Full Stack Software Engineer.', N'6 Westgate Dr', N'Woburn', N'Massachusetts', N'01801', CAST(N'1999-05-18' AS Date))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
USE [master]
GO
